{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

		<div class="container title-text">
			<div class="row">
				<div class="col-12 page-title">
					<article>
                        {% if entry.headingOverride | length %}
							<h1>{{ entry.headingOverride }}</h1>
                        {% else %}
							<h1>{{ entry.title }}</h1>
                        {% endif %}
					</article>
				</div>
			</div>
		</div>

		{% if entry.blocks | length %}
			{% include 'blocks/__block_loop' %}
		{% endif %}

		{% switch entry.entryType %}
			{% case 'blog' %}
				{% include 'blog/index' %}
		{% endswitch %}


{% endblock %}