{% set pageEntryType = "pageEntryType:" ~ entry.type %}
{% set parents = craft.entries.section('page').search(pageEntryType) %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ siteUrl }}" alt="{{ siteName }}">Home</a>
    </li>
    {% if parents is defined %}
        {% for parent in parents %}
            <li class="breadcrumb-item">{{ parent.getLink() }}</li>
        {% endfor %}
    {% endif %}
    <li class="breadcrumb-item active">
        {{ entry.title }}
    </li>
</ol>
