<footer id="footer">
    <div class="main-footer">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 footer-nav">
                    {{ craft.navigation.render('footerNavigation', {
                        ulClass: 'navbar-nav',
                        liClass: 'nav-item',
                        aClass: 'nav-link',
                        activeClass: 'nav-active',
                    }) }}
                </div>

                <div class="col-12 col-md-6">
                    <ul class="social-list">
                        {% for network in socialMedia.socialNetworks.all() %}
                            <li>
                                <a class="svg" target="_blank" href="{{ network.socialLink }}">
                                    {{ network.iconhtml|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="col-12 col-md-6 tagline">
                    <p class="small">Custom Web Design and Development by <a target="_blank" href="https://nerdymind.com/" rel="nofollow">NerdyMind Marketing</a></p>
                </div>
                <div class="col-12 col-md-6 copyright">
                    <p class="small">Copyright &copy;2019 {{ siteName }}, All Right Reserved</p>
                </div>

            </div>
        </div>
    </div>

</footer>