{% import 'macros/_active_class' as macros %}
{% import 'macros/_nav_nodes' as macros %}

<header id="header" class="header fixed-header">
        <div class="container">
            <div class="row">
                <div class="col-9 col-md-3 col-lg-4 logo-header ">
                    <a class="navbar-brand" href="{{ siteUrl }}">
                        {% if themeOptions.logo | length %}
                            <img class="img-fluid" src="{{ themeOptions.logo.one().url }}" alt="" title="{{ siteName }}"/>
                        {% else %}
                            {{ siteName }}
                        {% endif %}
                    </a>
                </div>

                <nav class="nav navbar navbar-expand-lg col-12 col-md-9 col-lg-8 ">
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#primaryNavigation"
                            aria-controls="primaryNavigation" aria-expanded="false"
                            aria-label="Toggle primary navigation">

                        <span class="navbar-toggler-text">
                            <span class="spinner2 diagonal part-1"></span>
                            <span class="spinner2 horizontal"></span>
                            <span class="spinner2 diagonal part-2"></span>
                        </span>

                    </button>

                    <div class="collapse navbar-collapse navbar-nav nav-wrap" id="primaryNavigation">
                        <ul class="navbar-nav ml-auto">
                            {% set nodes = craft.navigation.nodes('mainNavigation').all() %}

                            {% nav node in nodes %}
                                {{ macros.renderNode(node) }}
                            {% endnav %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

</header>