
<nav class="col-12 navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbar-header"
            aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-text">
                <span class="spinner2 diagonal part-1"></span>
                <span class="spinner2 horizontal"></span>
                <span class="spinner2 diagonal part-2"></span>
            </span>
    </button>

    {% set nav = craft.amNav.getNavRaw("mainNavigation") %}

    {% macro addNodeToNavigation(node, index) %}
        {%- set nodeClasses = [] -%}
        {%- if node.hasChildren -%}
            {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
        {%- endif -%}
        {%- if node.active or node.hasActiveChild -%}
            {%- set nodeClasses = nodeClasses|merge(['active']) -%}
        {%- endif -%}
        {%- if node.level == 1 and index == 1 -%}
            {%- set nodeClasses = nodeClasses|merge(['first']) -%}
        {%- endif -%}
        {%- if node.listClass|length -%}
            {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
        {%- endif -%}

        <li class="nav-item {% if nodeClasses|length %} {{ nodeClasses|join(' ') }}{% endif %}">
            {% if node.hasChildren %}
                <a href="{{ node.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
            {% else %}
                <a href="{{ node.url }}" class="nav-link " title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
            {% endif %}

            {% if node.hasChildren %}
                <ul role="menu" class="dropdown-menu">
                    {% for subnode in node.children %}
                        <li class="nav-item">
                            <a href="{{ subnode.url }}" class="nav-link" title="{{ subnode.name }}"{% if subnode.blank %} target="_blank"{% endif %}>{{ subnode.name }}</a>
                        </li>

                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}



    <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav">
            {% for node in nav %}
                {{ _self.addNodeToNavigation(node, loop.index) }}
            {% endfor %}


            {# Get top-level entries in pages structure (exclude hidden page)  #}

        </ul>
    </div>
</nav>