<ul class="list-group">
    {% nav category in craft.categories.group('blog').all() %}
    <li class="list-group-item">
        <a href="{{ category.url }}">{{ category.title }}</a>
        {% ifchildren %}
        <ul class="list-group">
            {% children %}
        </ul>
        {% endifchildren %}
    </li>
    {% endnav %}
</ul>