$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1140px
) !default;

//transition mixin
@mixin transition-in-out($timeing) {
  transition: all $timeing ease-in-out;
}


// Colors
$primary: #f98c37;
$secondary: #0080bc;
$gray: #c4c4c4;
$light-gray: #eeeeee;
$bg-gray: #f3f3f3;
$black: #262626;


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: lighten($primary, 50%);
  }
}


// Typography
$font-family-base: 'Open Sans', sans-serif;

$font-size-base: 1.2rem;


$h1-font-size: 3.4em;
$h2-font-size: 2.85em;
$h3-font-size: 2.1em;
$h4-font-size: 1.5em;
$h5-font-size: 1.15em;
$h6-font-size: 1em;
