.btn{
  color: #fff;
  border-radius: 55px;
  border: none;
  background: $secondary;
  padding: 5px 45px;
  font-weight: 500;
  font-size: 1em;
  margin: 2px 0;
  text-transform: uppercase;
  @include transition-in-out(0.3s);
  @include hover-focus{
    @include transition-in-out(0.3s);
    background: $primary;
    border: none;
    box-shadow: none;
    color: #fff;
  }
}


.btn.btn-primary{
  background: $primary;
  color: #fff;
  @include transition-in-out(0.3s);
  @include hover-focus{
    @include transition-in-out(0.3s);
    background: $secondary;
    border: none;
    box-shadow: none;
  }
}

.btn-small{
  padding: 5px 15px;
  font-size: 1em;
}
