form{
  .btn.btn-primary{
    padding: 6px 55px;
    background: $secondary;
    @include transition-in-out(0.3s);
    @include hover-focus{
      @include transition-in-out(0.3s);
      background: $primary;
    }
  }
}