body {
  &.has-adminbar {
    margin-top: 150px; // space for Craft admin bar
    &.homepage {
      margin-top: 50px; // space for Craft admin bar
    }
    .fixed-header {
      top: 44px;
    }
  }
}


.page-title{
  margin-bottom: 0px;
  margin-top: 25px;
}

h1{
  @include media-breakpoint-down(xs){
    font-size: 12vw;
  }
}

h2{

}
h3{

}
h4{

}
h5{

}
h6{

}


a{
  @include transition-in-out(0.3s);
  @include hover-focus{
    @include transition-in-out(0.3s);
  }
}

.img-wrap{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style:none;
}