{% macro renderNode(node) %}
    {% set hasChildren = node.children|length %}
    {% set id = node.id %}
    {% import _self as macros %}

    {% if node.level == 1 %}

        {% if hasChildren %}
            <b-nav-item-dropdown text="{{ node.title }}" toggle-class="nav-link-custom" >
                {% for child in node.children %}
                    <b-dropdown-item href="{{ child.url }}"
                                     class="dropdown-item{% if child.active %} active{% endif %}"
                                     {% if child.newWindow %}target="_blank" rel="noopener"{% endif %}>
                        {{ child.title }}
                    </b-dropdown-item>
                {% endfor %}
            </b-nav-item-dropdown>
        {% else %}
            <b-nav-item
                    class="{% if node.classes|length %}{{ node.classes }}{% endif %} nav-item{% if hasChildren %} dropdown{% endif %}"
                    href="{% if node.hasDescendants|length %}#{% else %}{{ node.url }}{% endif %}"
            >
                {{ node.title }}
            </b-nav-item>
        {% endif %}

    {% endif %}
{% endmacro %}
