{% set styles = {} %}

{% for block in entry.blocks.all() %}

    {% set blockID = 'block_' ~ loop.index ~ "_" ~ block.type %}
    {% set blockInclude = 'blocks/block_types/_' ~ block.type %}

    {% set blockBackground = "" %}

    {% switch block.customBackground %}
        {% case "color" %}
            {% set blockBackground = "background-color:" ~ block.backgroundColor ~ ";" %}
        {% case "image" %}
            {%  if block.backgroundImage|length %}
                {% set blockBackgroundImage = block.backgroundImage.first() %}
                {% set blockBackground = "background-image:url(" ~ blockBackgroundImage.url ~ ");" %}
            {% else %}
                {% set blockBackground = "" %}
            {% endif %}
    {% endswitch %}

    {% set styles = styles|merge({
    (blockID): "#" ~ blockID ~ "{ margin:" ~ block.margin ~ "; padding:" ~ block.padding ~ "; " ~ blockBackground ~ "}"
    }) %}

    <section class="block {{ block.type }}" id="{{ blockID }}">
        {% include blockInclude %}
    </section>

{% endfor %}

{% if styles | length %}
    <style>
        {% for style in styles %}
            {{ style }}
        {% endfor %}
    </style>
{% endif %}
