{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

    {% set categorySlug = craft.request.getLastSegment() %}
    {% set category = craft.categories.slug(categorySlug).first() %}

    {% set entries = craft.entries.relatedTo(category) %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="heading">{{ category.title }}</h2>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-9">
            <div class="row">
                {# Output them projects#}
                <div class="col-xs-12 col-md-12">
                    {% paginate craft.entries.section('pastProjects').limit(10) as pageInfo, pageEntries %}
                    {% for entry in entries %}
                        <article class="row projects-entry">
                            <div class="col-xs-12 col-md-3">
                                {% if entry.thumbnailImage | length %}

                                    {% set thumbnailImage = entry.thumbnailImage.first() %}
                                    <img class="img-fluid client-logo" src="{{ thumbnailImage.getUrl('thumbnail') }}" alt="{{ entry.title }}"  />

                                {% elseif entry.bannerImage | length %}
                                    {% set bannerImage = entry.bannerImage.first() %}
                                    <img class="img-fluid client-logo" src="{{ bannerImage.getUrl('thumbnail') }}" alt="{{ entry.title }}"  />
                                {% endif %}
                            </div>

                            <div class="col-xs-12 col-md-8">
                                <h4>
                                    <a href="{{ entry.url }}">
                                        {% if entry.headingOverride | length %}
                                            {{ entry.headingOverride }}
                                        {% else %}
                                            {{ entry.title }}
                                        {% endif %}
                                    </a>
                                </h4>
                                <p>
                                    {{entry.body | truncateStringOnWord(155, true) | striptags }}
                                </p>

                                <a class="btn btn-primary" href="{{ entry.url }}"><em class="icon right-arrow nerdy-blue"></em>See Project Details</a>
                            </div>


                        </article>
                        {{ craft.Adminbar.edit(entry) }}
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <h4>Categories</h4>
            <hr>
            {% include 'partials/_sidebar.twig' %}
        </div>
    </div>
</div>


{% endblock %}




