{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<div class="container blog-entry">
		<div class="row">

			{% if entry.bannerImage | length %}
				<div class="col-12 blog-banner-image">
						<div class="img-wrap">
							<img class="img-fluid blog-image" src="{{ entry.bannerImage.one().url() }}" alt="{{ entry.title }}"  />
						</div>
				</div>
			{% endif %}


			<article class="col-12 col-md-10 title-text">
				<h1>{{ entry.title }}</h1>
				<p>{{ entry.postDate.format('F d, Y') }}</p>
			</article>

			<div class="col-12 col-md-10 title-text">
                {% if entry.blocks | length %}
                    {% include 'blocks/__block_loop' %}
                {% endif %}
			</div>
		</div>

	</div>
{% endblock %}
