{# Get the entry for the blog listing page (needed for breadcrumb and divider generation) #}
{% set entry = themeOptions.blogListingPage.first() %}
{# Get the username from the url path #}
{% set username = matches[1] %}
{# Get the user with the matching username #}
{% set user = craft.users.username(username).first() %}

{# Copy of Page template, with blog index listing #}
{% extends "_layout" %}

{% block content %}

    {% cache if craft.config.cache %}

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                {% include 'partials/_breadcrumbs' %}
            </div>

            <div class="col-xs">
                <article class="header">
                    {# See if the page has anscestors #}
                    {% set hasAncestors = entry.getAncestors().total() != 0 %}

                    {# Get the top-most parent for child pages #}
                    {% if hasAncestors %}
                        {% set parent = craft.entries.ancestorOf(entry).level(1).first() %}
                    {% else %}
                        {% set parent = entry %}
                    {% endif %}

                    {# Show the page icon #}
                    {% if parent.navigationIcon | length %}
                        <div class="divider">
                            <div class="divider-icon">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     width="{{ parent.navigationIconSize }}px"
                                     height="{{ parent.navigationIconSize }}px"
                                     viewBox="0 0 {{ parent.navigationIconSize }} {{ parent.navigationIconSize }}">
                                    {{ parent.navigationIcon | raw }}
                                </svg>
                            </div>
                        </div>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                {% paginate craft.entries.section('news').authorId(user.id).limit(10) as pageInfo, pageEntries %}
                {% for entry in pageEntries %}
                    <article class="row news-entry">
                        <div class="col-xs-12 col-md-3">
                            {% if entry.bannerImage | length %}
                                {% set bannerImage = entry.bannerImage.first() %}
                                <img class="img-fluid client-logo" src="{{ bannerImage.getUrl('thumbnail') }}" alt="{{ entry.title }}"  />
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <h3>
                                <a href="{{ entry.url }}">
                                    {% if entry.headingOverride | length %}
                                        {{ entry.headingOverride }}
                                    {% else %}
                                        {{ entry.title }}
                                    {% endif %}
                                </a>
                            </h3>
                            <p>Posted on {{ entry.postDate.format('F d, Y') }} | by <a href="{{ siteUrl }}our-blog/{{ entry.author.username }}">{{ entry.author.name }}</a> | <a href="{{ entry.url }}#disqus_thread"> Comments</a></p>
                            {# Need to trim to 38 word count #}
                            <p>
                                {{entry.body | truncate(38, true) | raw }}
                            </p>

                            <a class="btn btn-primary" href="{{ entry.url }}"><em class="icon right-arrow nerdy-blue"></em>Read the Post</a>
                        </div>

                    </article>
                    {{ craft.Adminbar.edit(entry) }}
                {% endfor %}
            </div>

            {% if pageInfo.totalPages > 1 %}
                <div class="col-xs-12 pagination">
                    {% include 'partials/_pagination' %}
                </div>
            {% endif %}

        </div>
    </div>
    <script id="dsq-count-scr" src="//nerdymind.disqus.com/count.js" async></script>

    {% endcache %}

{% endblock %}


