
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-9">
            {% paginate craft.entries.section('blog').limit(10) as pageInfo, pageEntries %}
            <article class="row news-entry">
                {% for entry in pageEntries %}
                        <div class="blog">
                            <a href="{{ entry.url() }}" class="blog-wrap">
                            <span class="img-wrap">
                                <img src="{{ entry.bannerImage.one().getUrl('thumbnail') }}"  />
                            </span>
                                <span class="content">{{ craft.typogrify.truncateOnWord(entry.shortDescription, 48, '...') }}</span>
                                <span class="btn btn-arrow">
                                    <span class="btn-text">
                                       Learn More
                                    </span>
                                </span>
                            </a>
                        </div>
                {% endfor %}
            </article>
        </div>

        <div class="col-xs-12 col-md-3 sidebar">
            <h4>Categories</h4>
            {% include 'partials/_sidebar.twig' %}
        </div>



        {% if pageInfo.totalPages > 1 %}
            <div class="col-xs-12 pagination">
                {% include 'partials/_pagination' %}
            </div>
        {% endif %}

    </div>
</div>
