{% if  block.backgroundImage|length %}{% set bgImage = block.backgroundImage.one().getUrl('banner') %}{% else %}{% set bgImage = '' %}{% endif %}
<div class="banner-image" >
    <div class="container" >
        <div class="circle"></div>
        <div class="row ">
            <div class="col-12 col-md-10 col-lg-8 content">
                {% if  block.blockImage %}
                    <img src="{{ block.blockImage.one().url }}" />
                {% endif %}
                {% if  block.blockContent %}
                    <div class="text-content">
                        <hr>
                        {{ block.blockContent }}
                        <hr>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="banner" >
        <img src="{{ bgImage }}" />
    </div>
</div>

