<div class="container">
    <div class="row justify-content-center">
        {% for entry in craft.entries.section('blog').limit(3).all() %}
            <div class="col-12 col-sm-6 col-md-4 blog">
                <a href="{{ entry.url() }}" class="blog-wrap">
                    <span class="img-wrap">
                        <img src="{{ entry.bannerImage.one().getUrl('thumbnail') }}"  />
                    </span>
                    <span class="content">{{ craft.typogrify.truncateOnWord(entry.shortDescription, 48, '...') }}</span>
                </a>
            </div>
        {% endfor %}
        <div class="col-12 ">
            <a class="btn btn-primary" href="/blog">Read More Stories</a>
        </div>
    </div>
</div>
