<div class="container" >
    <div class="row ">

        {% for cta in block.callToAction.all() %}
            <div class="col-12">
                <h3>{{ cta.title }}</h3>
            </div>
            <div class="col-12">
                {{ cta.form.render() }}
            </div>
        {% endfor %}
    </div>
</div>


