{% if block.columns | length %}
    <div class="container">
        <div class="row">
            {% for column in block.columns.all() %}
                <div class="col-12 col-md-{{ column.columnWidth }}">
                    {{ column.columnContent }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}