{% if block.featuredContent | length %}

        {% for key, featured in block.featuredContent %}
            {% if featured.imagePosition == 'right' %}
                {% set imageOrder = 'order-md-2' %}
                {% set divOrder = 'order-md-1' %}
            {% else %}
                {% set imageOrder = 'order-md-1' %}
                {% set divOrder = 'order-md-2' %}
            {% endif %}

            {% if featured.fullWidth==1 %}
                <div class="row full-width">
                    <div class="featured-image col-12 col-md-{{ featured.featuredWidth }} {{ imageOrder }} ">
                    <span class="img-wrap">
                        {% if featured.featuredImage|length %}
                            <img src="{{featured.featuredImage.first.url}}"  class="img-fluid"/>
                        {% endif %}
                    </span>
                    </div>
                    <div class="featured-content col-12 col-md-{{featured.contentWidth}} {{  divOrder }}"></div>
                </div>
            {% endif %}

            <div class="fc-wrapper container">
            <div class="row">
                <div class="featured-image col-12 col-md-{{ featured.featuredWidth }} {{ imageOrder }} ">
                    {% if featured.fullWidth!=1 %}

                                {% if featured.featuredImage|length %}
                                    <span class="img-wrap">
                                        <img src="{{featured.featuredImage.first.url}}"  class="img-fluid"/>
                                    </span>
                                {% elseif featured.featuredVideo|length %}
                                    {{ featured.featuredVideo.embed }}
                                {% endif %}

                    {% endif %}
                </div>

                <div class="featured-content col-12 col-md-{{featured.contentWidth}} {{  divOrder }}">
                    <div>
                        {{ featured.contentOpen }}
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}

{% endif %}

{#
    adsf

</div>

{% if featured.imagePosition == 'right' %}
<div class="featured-content col-12 col-md-{{featured.contentWidth}} order-md-1">
    {% else %}
    <div class="featured-content col-12 col-md-{{featured.contentWidth}} order-md-2">
        {% endif %}
        <div>
            {{ featured.contentOpen }}
        </div>

    </div>#}