{% if block.position == 'right' %}
    {% set imageOrder = 'order-md-2' %}
    {% set divOrder = 'order-md-1' %}
{% else %}
    {% set imageOrder = 'order-md-1' %}
    {% set divOrder = 'order-md-2' %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 {{ imageOrder }}">
            {{ block.blockContent }}
        </div>
        <div class="col-12 col-md-6 {{  divOrder }}">
            {{ block.form.render() }}
        </div>
    </div>
</div>