<div class="container">
    <div class="row">
            {% for fw in block.forwardPathGrid.all() %}
                {% if fw.pageLink.one().url()|length %}
                    <a href="{{ fw.pageLink.one().url() }}" class="col-12 col-sm-6 col-md-3 fw-block">

                        <span class="fw-bg">
                            {% if fw.image.one()|length %}
                                {% set image = fw.image.one() %}
                                {% if image and image.extension == 'svg' %}
                                    {{ svg(image) }}
                                {% else %}
                                    <img src="{{ image.url() }}" />
                                {% endif %}
                            {% endif %}
                            <span class="fw-content">
                                <h4>{{ fw.fpTitle  }}</h4>
                            </span>
                            <span class="btn btn-arrow">
                                <span class="btn-text">
                                   Learn More
                                </span>
                            </span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
    </div>
</div>


