{% if block.position == 'right' %}
    {% set imageOrder = '2' %}
    {% set divOrder = '1' %}
{% else %}
    {% set imageOrder = '1' %}
    {% set divOrder = '2' %}
{% endif %}

<div class="container">
    <div class="row ">
            <div class="fc-wrapper container">
                <div class="row">
                    <div class="featured-media col-12 col-md-{{ 12 - block.width|t }} order-md-{{ imageOrder }} ">

                        {% if block.video | length %}
                            {% set embed = craft.videoEmbedder.getEmbedUrl(block.video) %}
                            <div class="videoWrapper">
                                <iframe src="{{ embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                            </div>
                        {% elseif block.blockImage|length %}
                            <div >
                                <img src="{{block.blockImage.one().url}}"  class="img-fluid"/>
                            </div>
                        {% endif %}
                    </div>

                    <div class="featured-content col-12 col-md-{{ block.width}} order-md-{{  divOrder }}">
                        <div>
                            {{ block.blockContent }}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
