{% if block.blockMultipleImages | length %}
    <div class="container">
        <ul class="row photo-gallery">
            {% for galleryImage in block.blockMultipleImages.all() %}
                <li class="col-6 col-md-4 col-lg-3 gallery-img" data-featherlight-gallery data-featherlight-filter="a">
                    <a href="{{ galleryImage.url }}" class="gallery" title="{{ galleryImage.title }}">
                        <img class="img-fluid" src="{{ galleryImage.getUrl('thumbnail') }}" alt="{{ galleryImage.title }}"  />
                        <span class="icon">
                           <i class="fas fa-search-plus"></i>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}