{% set quoteCategory = block.quoteCategory.one() %}
{% set entries = craft.entries().relatedTo(quoteCategory).all() %}

{% if entries|length %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="owl-carousel quotes-slider owl-theme">
                    {% for entry in entries %}
                        <div class="row item quote-wrapper" >
                            <div class="col-12 col-md-7 quote-content">
                                <div class="quote">
                                    {{ entry.quoteText }}
                                    <div class="attribution">- {{ entry.quoteAttribution }}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="img-wrap">
                                    <img src="{{ entry.blockImage.one().getUrl('mediumSquare') }}" />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}






