<div class="container">
    <div class="row social-wrap">
        {% for social in block.socialMediaBlocks.all() %}
            <div class="col-12 col-sm-6 col-md-3">
                <a href="{{ social.mediaLink }}" class="icon-wrap" target="_blank">
                <span class="img-wrap">
                    <img src="{{ social.mediaImage.one().getUrl('thumbnail') }}" />
                </span>
                    <span class="social-icon">
                    {{ social.mediaIcon|raw }}
                </span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>