.header{
  position: relative;
  z-index: 9;
  .logo-nav-bar{
    padding: 0;
    .navbar-brand{
      padding: 0;
      margin: 0;
      position: relative;
      img{
        max-width: 160px;
        @include transition-in-out(0.3s);
        @include media-breakpoint-down(sm){
          max-width: 130px;
        }
      }
    }


    #primaryNavigation{
      padding: 0;
      z-index: 9999;
      .mobile-cta{
        padding: 15px;
        background: $primary;
        @include media-breakpoint-down(sm){
          justify-content: center;
          flex-flow: row wrap;
        }
        div{
          margin: 5px;
        }
      }
      ul.nav-pills{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        li.nav-item{
          @include media-breakpoint-down(md){
            width: 100%;
            text-align: center;
          }
          a.nav-link{
            font-size: 1em;
            color: #fff;
            background: $secondary;
            padding: 0.2em 0.7em;
            border-radius: 0;
            border: 1px solid transparent;
            position: relative;
            @include media-breakpoint-down(md){
              color: $secondary;
              background: #fff;
            }
            @include transition-in-out(0.3s);
            &:before{
              content: '';
              display: block;
              margin:auto;
              width: 8px;
              height: 8px;
              bottom: -0.35em;
              left: 0;
              right: 0;
              position: absolute;
              border-bottom: 1px solid $primary;
              border-right: 1px solid $primary;
              transform: rotate(45deg);
              opacity: 0;
              @include transition-in-out(0.3s);
            }
            &:after{
              display: block;
              margin:auto;
              position: absolute;
              width: 0;
              left: 0;
              right: 0;
              bottom: -0.36em;
              border-top: 0.3em solid #fff;
              @include transition-in-out(0.3s);
              @include media-breakpoint-down(md){
                border-top: 0.3em solid $blue;
              }
            }
            @include hover-focus{
              color: $primary;
              border: 1px solid $primary;
              @include transition-in-out(0.3s);
              &:before{
                @include transition-in-out(0.3s);
                opacity: 1;
              }
              &:after{
                @include transition-in-out(0.3s);
                border-top: 0.3em solid $primary;
              }
            }
            &.dropdown-toggle{
              position: relative;
              @include media-breakpoint-down(md){
                margin-bottom: 10px;
              }
            }
          }

          &.show {
            a.nav-link {
              background: none;
              color: $primary;
            }
          }

          ul.dropdown-menu{
            border: none;
            border-radius: 0;
            padding: 0;
            background: #fff;
            border: 2px solid $secondary;
            width: 100%;
            outline: none;
            position: absolute;
            margin: 0;
            li{
              width: 100%;
              text-align: center;
              padding: 0;
              @include hover-focus{
                background: none;
              }
              &:last-of-type{
                a{
                  border: none;
                }
              }
              &.active{
                background: none;
                a{
                  color: $secondary;
                  background: none;
                }
              }
              a{
                color: $secondary;
                display: block;
                width: 100%;
                font-size: 0.9em;
                font-weight: 600;
                padding: 0.5em 5px;
                white-space: normal;
                @include hover-focus{
                  background: none;
                  color: #fff;
                  background: $primary;
                }
              }
            }
          }
        }
      }
    }//end main nav


  }//end logo-nav-bar


  //mobile menu icon
  .mobile-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-toggler {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    overflow: hidden;
    width: 45px;
    max-width: 45px;
    height: 45px;
    display: block;
    border: none;
    background: $primary;
    border-radius: 0;
    position: relative;
    padding: 25px;

    &:focus {
      outline: 0;
    }
    * {
      transition: all ease 0.3s;
    }
    .navbar-toggler-text {
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 62%;
      top: 0px;
      left: 0;
      right: 0;
      margin: auto;
      padding: 9px 0;
      .spinner2 {
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
      }
      .diagonal.part-1 {
        position: relative;
        float: left;
        margin-top: 6px;
      }
      .horizontal {
        position: relative;
        float: left;
        margin-top: 6px;
      }
      .diagonal.part-2 {
        position: relative;
        float: left;
        margin-top: 6px;
      }
    }
  }

  button[aria-expanded="true"] {
    border: none;
    *{
      transition: all ease 0.3s;
    }
    .navbar-toggler-text{
      .spinner2 {
        background-color: #fff;
      }
      .horizontal {transform:translateX(-100px);}
      .diagonal.part-1 {transform:rotate(135deg); margin-top:15px;}
      .diagonal.part-2 {transform:rotate(-135deg); margin-top:-12px;}
    }
  }


}